html{
    background: rgb(233,233,233);
    background: url(../img/bg.jpg) fixed;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
    font: inherit;
}

#map-canvas {
        width: 500px;
        height: 400px;
        
        
      }

body {
	margin: 0 auto;
     }
     
#pageHeader {
         height: 140px;
     }
#menubar {
        //position: absolute;
        display: block;
       
        line-height: 120px;
        position: relative ;
        }
    
#menu   {
        float:right;
        font-family: Helvetica, sans-serif;
        list-style: none;
        float: left;
        display: block;
        }
nav ul {
             list-style: none;
             padding-left: 100px;
             float: left;
             display: block;
        }
.site-menu li {
            font-family: Helvetica, sans-serif;
            //display: list-item;
            float: left;
            padding-left: 25px;
            list-style: none;
        }
       
     
article,footer, p, h1, div {
	display: block;
        font-family: Helvetica, sans-serif;

}
.paragraph, #map-canvas, .form {
    padding: 10px 40px 10px 20px;
}
.form {
   
}

a {
	text-decoration: none;
	color: rgb(219,126,64);
	border-bottom: 1px dotted rgb(219,126,64);
}

a:hover {
	color: #7B798F;
	border-bottom: 1px solid #7B798F;
}
header a, header a:hover {
	color: #F9BB6A;
	border: none;
         
}
li a, li a:hover {
        color: #F9BB6A;
	border: none;
}

header {
	background: rgb(100, 98, 102);
	width:775px;
        position:fixed;
        padding-left: 25px;
        overflow: hidden;
        top: 0;
 }


header h1 {
        font-family: Helvetica, sans-serif;
	font-size: 3.2em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 120px;
	float: left;
	padding-left: 110px;
	background: url(../img/logo.png) no-repeat left center;
        background-size: 100px 100px;
	color: #fff;
        vertical-align: baseline;
        alignment-adjust: middle;
        margin-top: 10px;
}

header h1 p {
        font-family: Helvetica, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 0.3em;
	color: #fff;
	float: top;
	text-transform: lowercase;
        margin-top: 0px;
        margin-bottom: 0px;
	letter-spacing:.1em;
	line-height: 0.3em;
        -webkit-margin-before: -1.5em;
}
.footer {
        background: rgb(100, 98, 102);
	padding-top: 1px;
	overflow: hidden;
	margin-bottom: 1em;
        margin: auto;
}
        .footer ul {
             list-style: none;
             padding-left: 100px;
             float: left;
             display: block;
        }
        .footer li {
            font-family: Helvetica, sans-serif;
            //display: list-item;
            float: left;
            padding-left: 25px;
            list-style: none;
        }
.wrapper {
    background: #F9BB6A;
    width: 800px;
    margin: auto;
}

.middle {
    margin-top: 140px;
}

form input {
    margin-bottom: 10px;
}

