html{
    background: rgb(223,223,223);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
    font: inherit;
}
body {
	font: 100% Cantarell, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	background: #fff;
	color: rgb(76, 67, 65);
	font-weight:normal;
	font-style:normal;
}

article, aside, footer, header, hgroup, nav, summary {
	display: block;
}

a {
	text-decoration: none;
	color: rgb(219,126,64);
	border-bottom: 1px dotted rgb(219,126,64);
}

a:hover {
	color: #7B798F;
	border-bottom: 1px solid #7B798F;
}
header a, header a:hover {
	color: #ccc;
	border: none;
}

